.card-user_head{
  padding-top: 100px;
}
.card-user_head{
  position: relative;
}
.card-user_photo{
  border-radius: 50%;
  position: absolute;
  width: 200px;
  height: 200px;
  overflow: hidden;
  top: 0;
  left: calc(50% - 100px);
}
img:not(.md-image).card-user__img_user{
  width: 100%;
  height: 100%;
}
.ucard-user_main{
  margin-top: 100px;
  padding: 10px;
}
.card-user__user-position{
  color: rgb(121, 121, 121);
  font-size: 1.5rem;
}
.card-user__user-name{
  font-size: 2.5rem;
  color: rgb(31, 30, 30);
}
.card-user__user-desc{
  font-size: 1.1rem;
  color: rgb(59, 59, 59);
}

.card-body{

  @include size(xs){
    
  }
  @include size(sm){
    
  }
  @include size(md){
    padding: 0.45rem;
  }
  @include size(lg){
    padding: 0.55rem;
  }
}
.reg-card__overlay{
  background-color: rgba(0, 0, 0, 0.75);
}
.reg-card__title{
  font-size: 1.5rem;
}
.reg-card__btn{
  border-radius: 40px;
}

.bib__card-title{
  font-size: 0.9rem;
  @include size(md){
    font-size: 0.8rem;
  }
  @include size(lg){
    font-size: 0.8rem;
  }
}