.person-card_img{
  width: 50%;
  margin: auto;
  background: silver;
  overflow: hidden; /* clearfix */
  background-size: cover;
  background-position: center;
  &:before {
    content: "";
    padding-top: 100%;
    float: left;
  }
}

.card-body{

  @include size(xs){
    
  }
  @include size(sm){
    
  }
  @include size(md){
    padding: 0.45rem;
  }
  @include size(lg){
    padding: 0.55rem;
  }
}
.reg-card__overlay{
  background-color: rgba(0, 0, 0, 0.75);
}
.reg-card__title{
  font-size: 1.5rem;
}
.reg-card__btn{
  border-radius: 40px;
}

.bib__card-title{
  font-size: 0.9rem;
  @include size(md){
    font-size: 0.8rem;
  }
  @include size(lg){
    font-size: 0.8rem;
  }
}