.main__img{
  height: 610px;
  background: linear-gradient(rgba(rgb(19, 19, 19), 0.8),
                              rgba(rgb(19, 19, 19), 0.8)) , 
              url(/assets/img/main_img.jpg);
  
  background-size: cover, cover;
  background-position: center, center;
  color: #fff;
  text-align: center;
}
.main__title_sm{
  font-size: 2vw;

  @include size(xl){
    font-size: 38px;
  }
}
.main__title_lg{
  font-size: 5.42vw;

  @include size(xl){
    font-size: 103px;
  }
}
.section_top{
  height: 475px;
}
.menu__list_sm{
  width: 100%;
  background-color: #70ccc9;
}

.menu__item_sm{
  padding: 15px 20px;
  margin: 5px 10px;
  border-radius: 10px;
  font-size: 20px;

  &:hover{
    background-color: #58B0B1;
    cursor: pointer;
  }
}
.menu__list, .conteiner__left{
  min-height: 475px;
  width: 475px;
  min-width: 475px;
  flex-wrap: wrap;

  @include size(xs){
    display: none !important;
  }
  @include size(sl){
    display: none !important;
  }
  @include size(sm){
    display: none !important;
  }
  @include size(md){
    display: none !important;
  }
}
.descrption, .conteiner__middle{
  flex-grow: 2;
  
  font-size: 28px;
  line-height: 28px;
  font-weight: 300;

  @include size(xm){
    max-width: 950px;
  }
  @include size(xl){
    max-width: 950px;
  }
}
.menu__item{
  height: 33.33333333333%;
  width: 33.33333333333%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}
.organizetion{
  background-color: #A7C728;
  max-width: 475px;
  font-size: 18px;
  display: none;

  @include size(xm){
    display: block;
  }
  @include size(xl){
    display: block;
  }
}
.conteiner__right{
  max-width: 475px;
  display: none;

  @include size(xm){
    display: block;
  }
  @include size(xl){
    display: block;
  }
}
.reg__block{
  background: linear-gradient(rgba(rgb(19, 19, 19), 0.8),
                              rgba(rgb(19, 19, 19), 0.8)) , 
              url(/assets/img/reg_img.jpg);
  height: 520px;
  background-size: cover, cover;
  background-position: center, center 65%;
  
  color: white;
  font-size: 40px;
}

.md-theme-default a.btn__move-reg:not(.md-button){
  color: white;
}
.md-theme-default a.btn__move-reg.unactiv:not(.md-button){
  text-decoration: none;
}
.btn__move-reg{
  display: block;
  background-color: #F84134;
  height: 75px;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-size: 32px;

  &.unactiv{
    background-color: #e49a95;
    cursor: default;
    text-decoration: none;
  }
}
.announcement{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.announcement__title{
  width: 100%;
  text-align: center;
  font-size: 34px;
}
.ad__left, .ad__right{
  width: 445px;
  min-width: 300px;
  height: 90px;
  margin: 15px;
  text-align: center;
}
.ad__left{
  background-color: #A7C728;
}
.ad__right{
  background-color: #48AF56;
}
.congress-topic__title{
  font-size: 36px;
  
}

.congress-topic__list{
  list-style-type: disc;
}
.congress-topic__item{
  list-style-type: disc;
}