.main__img{
  height: 610px;
  background: linear-gradient(rgba(rgb(19, 19, 19), 0.8),
                              rgba(rgb(19, 19, 19), 0.8)) , 
              url(/assets/img/main_img.jpg);
  
  background-size: cover, cover;
  background-position: center, center;
  color: #fff;
  text-align: center;

  @include size(xs){
    height: 400px;
  }
  @include size(sm){
    height: 400px;
  }
  @include size(md){
    height: 450px;
  }
  @include size(lg){
    height: 550px;
  }
}
.main__title_sm{
  font-size: 1.5rem;

  @include size(xs){
    font-size: 0.98rem;
  }
  @include size(sm){
    font-size: 1.1rem;
  }
  @include size(md){
    font-size: 1.22rem;
  }
  @include size(lg){
    font-size: 1.35rem;
  }
}
.main__title_lg{
  font-size: 3.5rem;

  @include size(xs){
    font-size: 2.1rem;
  }
  @include size(sm){
    font-size: 2.58rem;
  }
  @include size(md){
    font-size: 2.86rem;
  }
  @include size(lg){
    font-size: 3.15rem;
  }
}

.menu__l{
  height: 100%;
  width: 100%;
  background-color: #70ccc9;
}
.menu__i{
  padding: 15px 20px;

  &:hover{
    background-color: #58B0B1;
    cursor: pointer;
  }
}

.descrption{
  font-size: 18px;
  line-height: 20px;

  @include size(xs){
    padding: 10px !important;
  }
  @include size(lg){
    font-size: 18px;
  }

  &>p:last-child{
    margin-bottom: 0;
  }

}

.organizetion{
  background-color: #A7C728;
  line-height: 0.9rem;
  font-size: 13px;
  height: 100%;

  @include size(xs){
    display: none !important;
  }
  @include size(lg){
    font-size: 13px;
  }
  &>h3{
    font-size: 1rem;
    font-weight: bold;
  }
  &>p{
    margin-bottom: 8px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}


.announcement{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.announcement__title{
  margin-top: 20px;
  width: 100%;
  font-family: Ubuntu;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}
.ad__left, .ad__right{
  margin: 9px;
  width: 45%;
  height: 70px;
  font-family: Ubuntu;
  font-size: 18px;
  line-height: 23px;
  text-align: center;

  
  @include size(xs){
    width: 90%;
    font-size: 22px;
    line-height: 30px;
  }
  @include size(sm){
    width: 90%;
    font-size: 22px;
    line-height: 30px;
  }
  @include size(md){
    font-size: 16px;
    line-height: 19px;
  }
  @include size(lg){
    font-size: 17px;
    line-height: 21px;
  }
}
.ad__left{
  background-color: #A7C728;
}
.ad__right{
  background-color: #48AF56;
}
.congress-topic__title{
  text-align: center;
  font-family: Arsenal;
  font-weight: bold;

  @include size(lg){
    font-size: 28px;
  }
  @include size(md){
    font-size: 28px;
  }
}

.congress-topic__list{
  list-style-type: disc;

  @include size(xs){
    //padding: 0px 35px !important;
  }
}
.congress-topic__item{
  font-family: Ubuntu;
  list-style-type: disc;
  font-size: 15px;
}