*::selection {
  background: #3244ec; /* Safari */
}

body, #__nuxt, #__layout{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

li{
  list-style: none;
}

.gggfd{
  background-color: #a3f;
}

.container{
  min-width: 360px;
}
.m-xs-0{
  @include size(xs){
    margin: 0 !important;
  }
}

.d-xs-none{
  @include size(xs){
    display: none !important;
  }
}

// .custom-file-label{
//   &::after{
//     content:'Обзор...'
//   }
// }

