*::selection {
  background: #3244ec; /* Safari */
}

body, #__nuxt, #__layout{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
body{
  min-height: 100vh;
  min-width: 360px;
}

li{
  list-style: none;
}

.gggfd{
  background-color: #a3f;
}

.container{
  min-width: 360px;
}
.m-xs-0{
  @include size(xs){
    margin: 0 !important;
  }
}

.d-xs-none{
  @include size(xs){
    display: none !important;
  }
}

.cursor-pointer{
  cursor: pointer;
}
.overflow-y-auto{
  overflow-y: auto !important;
}
.overflow-x-hidden{
  overflow-x: hidden !important;
}
// .custom-file-label{
//   &::after{
//     content:'Обзор...'
//   }
// }

.circle__img{
  background: silver;
  overflow: hidden; /* clearfix */
  background-size: cover;
  background-position: center;
  &:before {
    content: "";
    padding-top: 100%;
    float: left;
  }
}