//font
@import "_misc/font.scss";

//mixins
@import "_misc/mixims.scss";

//style
@import "section/form.scss";
@import "section/header.scss";
@import "section/setup.scss";
@import "section/content.scss";
@import "section/card.scss";

@import "section/footer.scss";

label.active {
  color: #4db6ac !important;
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: #4db6ac !important;
  background-color: #4db6ac !important;
}
